@font-face {
  font-family: 'Borel-Regular';
  src: url('./Borel/Borel-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

*, *::after, *::before {
  box-sizing: border-box;
}

:root{
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * .9);
}
body{
  margin: 0;
  height: 100vh;
  background-color: #2b2929;
  font-family: 'Borel-Regular';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header{
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  margin: 10px 0;
  color: #fff;
}
.game-board {
  width: 100wv;
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  align-content: center;
}
.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  cursor: pointer;
  position: relative;
}
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: 2px solid #fff;
}
.cell:nth-child(3n + 1){
  border-left: 2px solid #fff;
}
.cell:nth-child(3n + 3){
  border-right: 2px solid #fff;
}
.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: 2px solid #fff;
}
.cell:hover {
  background-color: #635d5d
}
.cell.x::before,
.cell.x::after{
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
  background-color: #fff;
}
.cell.x::before{
  transform: rotate(45deg);
}
.cell.x::after{
  transform: rotate(-45deg);
}
.cell.o::before,
.cell.o::after{
  content: '';
  position: absolute;
  border-radius: 50%;
}
.cell.o::before{
  width: var(--mark-size);
  height: var(--mark-size);
  background-color: #fff;
}
.cell.o::after{
  width: calc(var(--mark-size) * .6);
  height: calc(var(--mark-size) * .6);
  background-color: #2b2929;
}
.cell.x,
.cell.o{
  cursor: not-allowed;
}
.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  color: green;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
button {
  padding: 10px 10px;
  border: 2px solid green;
  border-radius: 10px;
  background-color: green;
  font-size: 1.35rem;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: rgb(53, 124, 53);
  border-color: rgb(53, 124, 53);
}
.winning-message.show{
  display: flex;
}
.white{
  color: white;
}
a{
  color: chocolate;
  font-size: 1.5rem;
}
footer{
  text-align: center;
  font-weight: 600;
}
@media only screen and (max-width: 480px) {
  .board {
    width: 300px;
    height: 300px;
  }

  .cell:hover{
    background-color: #2b2929;
  }
}
